@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(https://fonts.googleapis.com/css?family=Iceland);

body, html {
  margin: 0;
  scroll-behavior: smooth;
}


#days {
  font-size: 200px;
  color: #db4844;
}
#hours {
  font-size: 150px;
  color: #f07c22;
}
#minutes {
  font-size: 100px;
  color: #f6da74;
}
#seconds {
  font-size: 50px;
  color: #abcd58;
}

.timer {
  display: inline-block;
  line-height: 1;
  padding: 15px;
  font-size: 40px;
  margin-top: -10px;
}

.time {
  display: block;
  font-size: 20px;
  color: white;
}

.top {
  display: block;
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  color: white;
  /*padding-top: 5px;*/
  border: 1px white solid;
  border-radius: 7px;
  -moz-box-shadow:    inset 0 0 10px #fff;
   -webkit-box-shadow: inset 0 0 10px #fff;
   box-shadow:         inset 0 0 10px #fff;
   background-color: rgba(23,24,47,0.5);   
}

hr {
	margin: auto;
    width: 40%;
    background-color: white;
}


.menu-icons{
  width: 60px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: -5px
}

@media screen and (max-width: 600px) {
/*  .top {      
    left:0%;
  }*/
  .glow{
    font-size: 70em;
  }
}

.row-custom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column-custom {
  display: flex;  
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


.glow {
  display: inline-block;
  text-align: center;
  font-size: 7em;
  color: #fff;
  text-align: center;
  font-family: Iceland;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 60px #228DFF, 0 0 70px #228DFF;
  /*-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;*/
}

.border-custom{
  border: 1px white solid;
  border-radius: 7px;
  -moz-box-shadow:    inset 0 0 10px #fff;
   -webkit-box-shadow: inset 0 0 10px #fff;
   box-shadow:         inset 0 0 10px #fff;
   background-color: rgba(23,24,47,0.5); 
}


